$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.container {
    .cell {
        color: $primary-color;

        a.link {
            color: $primary-color;
        }

        [href] {
            font-family: $font-stack;
        }
    }
}
